// Styles for each type of post

.post {
  height: 0;
  margin: 0 auto;
  max-width: 870px;
  overflow: hidden;
  padding-bottom: 369px;
  position: relative;
  width: 100%;

  figure {
    img {
      bottom: -100%;
      left: -100%;
      margin: auto;
      min-height: none;
      min-width: 100%;
      padding: 0;
      position: absolute;
      right: -100%;
      top: -100%;
      z-index: 2;
    }
  }

  .date {
    @include opacity(0);
    bottom: 30px;
    margin: 0;
    position: absolute;
    z-index: 1;
  }

  &.photo {
    cursor: pointer;
  }
}
